/* Header */
.login-link {
    font-weight: bold !important;
    background: none !important;
    padding: 0 !important;
}
.custom-navigation {
    background-color: white;
    margin-left: -200px;
    margin-right: -200px;
    box-shadow: 0px 5px 6px -6px #ccc;
}
.custom-navigation li {
    padding-top: 0 !important;
    margin: 0 20px;
}

/* Booking input */
.input-group .ant-picker-input input {
    font-size: 24px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    margin-top: -5px;
    color: black;
}
.input-group .ant-picker-separator {
    font-size: 25px;
}
.btn-check {
    border-radius: 0px;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.47;
    text-align: center;
    color: #ffffff;
    background: url(../../assets/main_layout/images/01_05_transparents_1/box2.png);
    white-space: normal;
    padding: 22px 20px;
    border: 2px solid #b0914f;
    height: 113px;
}
.btn-check:hover {
    color: #b0914f;
    background-color: #fff;
    border-color: #b0914f;
}

/* Room List */
.vk-room-list-content .vk-dark-our-room-item-right .vk-dark-our-room-item-content ul.room-info-custom li p,
.vk-room-list-content .vk-dark-our-room-item-right .vk-dark-our-room-item-content ul.room-info-custom-grid li p {
    font-family: Poppins-Regular;
}
.vk-room-list-content .vk-dark-our-room-item-right .vk-dark-our-room-item-content ul.room-info-custom-grid li {
    width: 50%;
    float: left;
}
.vk-room-list-content .vk-room-details-content-right {
    padding: 30px 0;
}
.vk-room-list-content .vk-select-room-breakcrumb ul li.active a {
    background: #b0914f;
    color: #ffffff;
}
.vk-room-list-content .vk-select-room-info .vk-dark-our-room-item-right {
    padding: 0 20px 0 10px ;
}
.vk-room-list-content .vk-select-room-info .vk-dark-our-room-item-left {
    max-width: 320px;
}
.vk-room-list-content .vk-select-room-info .vk-dark-our-room-item-right .vk-dark-our-room-item-content ul {
    padding-top: 20px;
}
.vk-room-list-content .vk-select-room-info .vk-dark-our-room-item-right .vk-dark-our-room-item-content ul li p {
    line-height: 2;
}
.vk-room-list-content .vk-select-room-info .vk-dark-our-room-item-right .vk-dark-our-room-item-content h3 {
    margin-top: unset;
}
.vk-room-list-content .vk-select-room-info .vk-dark-our-room-item-right .vk-dark-our-room-item-content .vk-dark-our-room-item-book {
    margin-top: 60px !important;
}
.tag-box {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}
.tag-text {
    font-family: Poppins-Regular;
    font-size: 13px;
}

/* Collapse List */
.collapse-title {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.07;
    text-align: left;
    color: #333333;
    transition: all 0.5s;
}
.collapse-header {
    margin-bottom: 5%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}
.collapse-header > .ant-collapse-header {
    padding: 0 !important;
}
.collapse-header-grid {
    box-shadow: unset !important;
    padding: 0 !important;
}
.vk-make-a-reservation-info .ant-collapse > .ant-collapse-item, 
.vk-select-room-info .ant-collapse > .ant-collapse-item {
    border: 0;
}
.vk-select-room-info .ant-collapse-content > .ant-collapse-content-box {
    padding: 10px 16px;
}

/* Button */
.default-button, .default-button:active, .default-button:focus {
    height: auto;
    margin-top: -5px;
    color: #fff;
    background-color: #b0914f;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 0;
    border: 1px solid #b0914f;
}
.default-button:hover {
    color: #b0914f;
    background-color: #fff;
    border: 1px solid #b0914f;
}
.booking-detail-btn, .booking-detail-btn:focus {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    height: auto;
    color: white;
    line-height: 1;
    padding: 0;
}
.booking-detail-btn:hover {
    color: white;
}
.guest-selector {
    width: 100%;
    height: 40px;
}
.guest-selector .ant-select-selector, .guest-selector .ant-select-selector .ant-select-selection-item {
    height: 40px !important;
}
.guest-selector .ant-select-selector .ant-select-selection-item {
    line-height: 40px;
}

/* Form dropdown */
.country-dropdown {
    height: 50px;
}

/* Form */
/* Divider */
.vk-make-a-reservation-info .ant-divider-horizontal.ant-divider-with-text-left::before,
.vk-make-a-reservation-info .ant-divider-horizontal.ant-divider-with-text-left::after {
    border-top: 1px solid #e0e0e0 !important;
}
/* Label */
.vk-make-a-reservation-info .ant-form-vertical .ant-form-item-label {
    padding: 0;
}
/* Radio */
.paypal-radio-wrapper, .mastercard-radio-wrapper { 
    display: block; 
}
.paypal-radio-wrapper .ant-radio {
    padding-bottom: 15px;
}
.mastercard-radio-wrapper .ant-radio {
    padding-bottom: 40px;
}
/* End form */

/* Review booking */
/* Collapse room */
.review-booking-collapse-panel {
    background-color: #b0914f;
}
.review-booking-collapse-panel > .ant-collapse-header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.review-booking-collapse-panel > .ant-collapse-header .ant-collapse-arrow {
    color: white !important;
}